{% extends 'falshfsfse/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 style="text-align: left; color: red;">Si vous avez déjà un code de préinscription, cliquer <a href="/searchdom_univ">ICI</a> 
        pour modifier votre fiche.</h2>

    <h2 style="text-align: left; color: #4682b4;">Procédure de préinscription en ligne :</h2>
        <ul type="square">
          <li>Vous êtes déjà sur le site internet des preinscriptions</li>
          <li>Cliquer sur l’établissement de votre choix, puis lire encore attentivement les informations contenues dans cette page</li>
          <li>Cliquer sur « ici », puis renseigner vos informations signalétiques</li>
          <li>Vérifier ces informations et enregistrer en cliquant sur le bouton « validation »</li>
          <li>Après la validation, imprimer la fiche obtenue qui contient votre identifiant unique</li>
        </ul>
    
    <h2 style="text-align: left; color: #4682b4;">Modalités de paiement :</h2>
        <ul type="square">
          <li>L'Université de Yaoundé I offre à l'étudiant la possibilité de payer les frais d'examen, 
              d'admission et de scolarité dans les agences Express Union à travers le pays.</li>
          <li>Les étudiants peuvent également effectuer ces opérations dans les agences UBA ou par MTN Mobile Money.</li>
        </ul>
    
    <h2 style="text-align: left; color: #4682b4;">Choisissez l'une des facultés ou écoles suivantes : </h2>
            <ul type="square">
              <li><a href="#">Faculté des Arts, Lettres et Sciences Humaines (FALSH)</a></li>
              <li><a href="#">Faculté des Sciences (FS)</a></li>
              <li><a href="#">Faculté des Sciences de l'Education (FSE)</a></li>
              <li><a href="#">Faculté de Médecine et des Sciences Biomédicales (FMSB)</a></li>
              <li><a href="#">Ecole Nationale Supérieure Polytechnique de Yaoundé (ENSPY)</a></li>
              <li><a href="#">Ecole Normale Supérieure (ENS)</a></li>
              <li><a href="#">Ecole Normale Supérieure d'Enseignement Technique d'Ebolowa (ENSET)</a></li>
              <li><a href="#">Institut Universitaire de Technologies du Bois de Mbalmayo (IUT Bois)</a></li>
            </ul>
</div>    
{% endblock content %}